.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 127px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.list_container {
  width: 100%;
}

.list_wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 800px;
  overflow-y: auto;
}

.cardItemVacancies {
    border: 1px solid black;
    border-radius: 10px;
    width: 40em;
    padding: 0;
    margin: 10px auto 0px auto;
    text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vacanci-text {
  font-weight: bold;
}