.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 127px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.list_wrapper {
  height: 500px;
  overflow: auto;
  border: 1px solid black;
}

.cardItemVacancies {
    border: 1px solid black;
    border-radius: 10px;
    width: 65em;
    padding: 0px 0 0 0;
    margin: 10px 0px 0px 0;
    text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
