.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 127px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.App-title {
  font-size: 1.5em;
}

.list_container {
  width: 100%;
}

.list_wrapper {
  margin: 0 auto;
  height: 800px;
  overflow-y: auto;
  width: 75%;
  padding: 0 15px;
}

.cardItemVacancies {
  border: 1px dashed black;
  border-radius: 10px;
  width: 100%;
  padding: 0;
  margin: 10px auto 0px auto;
  text-align: center;
  background: #f3f3f3;
}

.cardItemVacancies p {
  font-size: 14px;
  padding: 5px 30px;
}

.cardItemVacancies p:not(:last-child) {
  border-right: 1px solid gray;
}

.vacancy-text {
  font-weight: bold;
}